html, body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

h1 {
    letter-spacing: -15px;
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    line-height: 200px;
    position: absolute;
    z-index: 100;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
}

.Container {
    position: relative;
    text-align: center;
    color: white;
}

.Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
}

p {
    margin: 75px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.ParallaxContainer {
    display:flex;
    flex: 1 0 auto;
    position: relative;
    left: -50%;
    z-index: -1;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background:rgba(0,0,0,0.6);
    background-size: 100% 100%;
    opacity: 1;
    text-align: center;
    color: white;
}

.ExperienceContainer {
    /* position: relative; */
    /* flex: 50%; */
    width: 50%;
    height: 100%;
}

.ParallaxContainer img {
    width: 100%;
    height: 100%;
}
