html * {
    max-height: 9999999px;
    -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
}
html, body {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.HeaderContent {
    overflow: auto;
    font-family: 'Comfortaa', cursive;
}

#profile-link-container {
    position: absolute;
    right: 70px;
    top: 10%;
    float: right;
    flex: auto;
    z-index: 1000;
}

#HeaderTextContainer {
    width: 100%;
    position: absolute;
    right: 0px;
    top: 10%;
}

#HeaderContent > div {
    position: absolute;
    right: 0px;
    top: 0px;
}

.Title, .Other {
    height: 100%;
    width: 100%;
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    line-height: 200px;
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -10%);
    visibility: collapse; /* visible */
}

.ParallaxText {
    color: #59AAB0;
}

.HeaderText {
    display: inline-block;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    /* border: 5px solid black; */

}

#AboutMeText {
    position: absolute;
    top: 65%;
    margin-left: 15%;
    margin-right: 10%;
    color: #474646;
    font-family: 'Comfortaa', cursive;
}

.Other {
    top: 0;
    transition: opacity 2s;
    opacity: 0;  /* //opacity to 1 to show */
    cursor: pointer;
    right: -100%;
    top: 35%;
}

.Title {
    left: 50%;
    top: 35%;
}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: black;
}

.ContentContainer {
    position: relative;
    display: block;
    background-color: white; /* set to transparent for later testing of on hover of hidden right side bar*/
    z-index: 1;
}

.Container {
    position: relative;
    text-align: center;
    color: white;
}

.Content {
    /* max-width: 750px; */
    margin: 0 auto;
    /* padding: 75px 0; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s;
    transition: opacity 0.2s linear;
    opacity: 0;
}

.FadedContainer:hover .overlay {
    opacity: 1;
    cursor:pointer;
}
.FadedContainer:hover .Title {
    visibility: visible;
}
.FadedContainer:hover {
    cursor:pointer;
}

.ParallaxContainer {
    display:flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url("../images/mac-resized.jpg") no-repeat center center fixed;
    background-size: cover;          /* 200% */
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: opacity 1s linear;
    opacity: 0;
    text-align: center;
    color: #0A0A0A;
}
#AboutText:hover {
    cursor: pointer;
}
#ExperienceText:hover {
    /* cursor: pointer; */
}
#EducationText:hover {
    /* cursor: pointer; */
}

#ExperienceText {
    padding-left: 20px;
    padding-right: 20px;
}

#EducationText {
    padding-left: 20px;
    padding-right: 20px;
}

.Page {
}

.PageContent {
    display: block;
    position: relative;
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
}
.MediumPage {
    height: 700px;
}
.LargePage {
    height: 700px;
}
.bold {
    font-style: bold;
}

#about-content {
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 50px;
    text-align: left;
    color: #59AAB0;
}

.ContentTitle {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
    line-height: 40px;
}

.ContentImage {
    padding-top: 100px;
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.ContentText {
    color: white;
}

.ContentReadMore {
    position: absolute;
    bottom: 0px;
    margin-bottom: 40px;
    color: white;
}

.ContentViewProject {

}

.PageContentContainer {
    position: absolute;
    bottom: 20%;
    width: 250px;
    min-height: 250px;
    padding: 50px;
    text-align: left;
}
.EducationContainer {
    background-color: #59AAB0;
}

.ExperienceContainer {
    background-color: #CACACA;
}

.ContainerLeft {
    left: 100px;
}

.ContainerRight {
    right: 300px;
}

.ImageLeft {
    padding-right: 400px;

}

.ImageRight {
    /* padding-left: 500px; */
}

.grow:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.grow:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.LinkContainer img {
    max-height: 25px;
    max-width: 25px;
    float: right;
    display: inline-block;
    margin: 20px;
}
/* .circ{
vertical-align: middle;
border-radius: 50%;
transition: box-shadow 0.3s;
/* box-shadow: 0 0 0 0 #fff; */

/* }  */
/* .circ:hover{
box-sizing: border-box;
box-shadow:  0 0 0 5px #fff, 0 0 0 6px #5CAAAF;
} */


.FixedLinkContainer {
    float: right;
    width: 50px;
    pointer-events: all;/* stops scrolling interferance when hovering over*/
    position: absolute;
    bottom: 10%;
    right: 50px;
    /* border: 5px solid blue; */
    z-index: -1;
}

.TextContainer {
    display: table;
    padding-right: 65px;
    color: #A0A0A0;
    text-align: right;
    pointer-events: all;/* stops scrolling interferance when hovering over*/
    position: absolute;
    top: 10%;
    right: 0px;
}

#fixed-link-container {
    position: fixed; /* holds on page */
    color: white;
    height: 100%;
    /* height: 250px; */
    right: 0px;
    /* top: 50%; */
    /* margin-top: -125px; */
    float: center;
    flex: auto;
    align-content: center;
    z-index: 1; /* brings to front */
    pointer-events: none;/* stops scrolling interferance when hovering over*/
    visibility: collapse;
    /* border: 5px solid blue; */

}

#fixed-container-experience {

}

#fixed-container-education {
    -webkit-animation-delay: 0.1s;
}

#fixed-container-github {
    -webkit-animation-delay: 0.2s;
}

#fixed-container-hotmail {
    -webkit-animation-delay: 0.3s;
}

#fixed-container-linkedin {
    -webkit-animation-delay: 0.4s;
}

.FixedTextContainer:hover {
    pointer-event: none;/* stops scrolling interferance when hovering over*/
    cursor:pointer;
}

#Test {
    position: absolute;
    bottom: 70px;
    visibility: hidden;
}

#Test2 {
    position: absolute;
    top: -200px;
    visibility: hidden;
}

/* text with underline onhover animation */

.DivHover {
    display: inline-block;
    float: center;
    margin: 0 0 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.DivHover span {
    text-align: right;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    position: relative;
    font-size: 25px;
}

.MediumText {
    font-size: 18px;
}

.DivHover span:before, .DivHover span:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 2px;
    margin: 2px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.5s;
    opacity: 0;
}
.DivHover {
    /* border: 5px solid black; */
}
.DivHover span.hover-center:before {
    left: calc(50%);
    background-color: #5CAAAF;
}
.DivHover span.hover-center:after {
    right: calc(50%);
    background-color: #5CAAAF;
}
.DivHover span.hover-right-to-left:after {
    right: 0;
    background-color: #5CAAAF;
}
.DivHover:hover {
    cursor: pointer;
    color: #5CAAAF;
}
.DivHover:hover span:before, .DivHover:hover span:after {
    width: 100%;
    opacity: 1;
}
.DivHover:hover span.hover-center:before, .DivHover:hover span.hover-center:after {
    width: 50%;
}
.DivHover:hover span.hover-right-to-left:before, .DivHover:hover span.hover-right-to-left:after {
    width: 100%;
}

.FixedContainerText{
    display: flex;
    position: absolute;
}

.FixedLinkContainer a img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.FixedLinkContainer a:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}






#ToolbarExpandPage {
    position: fixed;
    width: 100%;
    height: 0vh;
    margin-top: 80px;
    margin-bottom: 80px;
    z-index: 10;
    overflow-y: hidden;
    background: white;
    color: #59AAB0;

}

#toolbar-expand-text-container {
    height: inherit;
    padding-top: 20vh;
}



.ToolbarExpandText {
    position: relative;
    text-align: center;
    padding: 20px;
}

#toolbar-link-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1000;
}

.ToolbarLinkContainer img {
    max-height: 40px;
    max-width: 40px;
    vertical-align: middle;
    display: inline-block;
    color: white;
    float: center;
    display: inline-block;
    margin: 20px;
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* here we show dropdown*/

    #HeaderTextContainer div {
        display: none;
    }
    #profile-link-container a {
        display: none;
    }
    .TextContainer {
        display: none;
    }
    .FixedLinkContainer {
        display: none;
    }
    .SmallText {
        font-size: 10px;
        line-height: 16px;
    }
    .MediumText {
        font-size: 12px;
        line-height: 16px;
    }
    .MediumText * {
        font-size: 20px;
        line-height: 32px;
    }
    .LargeText {
        font-size: 26px;
        line-height: 26px;
    }
    #about-content {
        margin-left: 10%;
        margin-right: 10%;
    }

    #AboutMeText {
        position: relative;
        margin-left: 30%;
        margin-right: 30%;
        top: 20%;
        color: #474646;
        font-family: 'Comfortaa', cursive;
    }
    .MediumPage {
        height: 400px;
    }
    .LargePage {
        height: 600px;
    }
    .ContentImage {
        position: absolute;
        width: 100%;
        left: 0px;
        padding-top: 0px;
        height: 65%;
        object-fit: cover;
    }
    .PageContentContainer {
        position: absolute;
        width: 100%;
        top: 65%;
        padding: 0px;
        height: 35%;
        min-height: 0px;
        left: 0px;
    }
    .PageContentContainer * {
        margin-left: 20px;
        margin-right: 20px;
    }
    .ContentTitle {
        margin: 20px;
        margin-bottom: 10px;
    }
    .ContentReadMore {
        margin-bottom: 20px;
    }

    #ToolbarContainer {
        visibility: visible;
        pointer-events: all;/* stops scrolling interferance when hovering over*/
        position: absolute;
        height: 80px;
        width: 100%;
        left: 0px;
        background-color: white;
        z-index: 1; /* brings to front */
    }
    #ToolbarText {
        padding: 0px;
        padding-left: 10%;
        padding-top: 30px;
        color: #59AAB0;
    }
    .hamburger {
        position: absolute;
        padding-right: 10%;
        right: 0px;
        top: 0px;
        padding-top: 30px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #ToolbarContainer {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* here we show original layout*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
