html, body {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.HeaderContent {
    overflow: auto;
    font-family: 'Comfortaa', cursive;
}

#profile-link-container {
    position: absolute;
    right: 50px;
    top: 10%;
    float: right;
    flex: auto;
    z-index: 1000;
}

#HeaderTextContainer {
    width: 100%;
    position: absolute;
    right: 0px;
    top: 10%;
}

#HeaderContent > div {
    position: absolute;
    right: 0px;
    top: 0px;
}

.Title, .Other {
    height: 100%;
    width: 100%;
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    line-height: 200px;
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -10%);
    visibility: collapse; /* visible */
}

.ParallaxText {
    color: #59AAB0;
}

.HeaderText {
    display: inline-block;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    /* border: 5px solid black; */

}

#AboutMeText {
    position: absolute;
    top: 65%;
    margin-left: 15%;
    margin-right: 10%;
    color: #474646;
    font-family: 'Comfortaa', cursive;
}

.Other {
    top: 0;
    transition: opacity 2s;
    opacity: 0;  /* //opacity to 1 to show */
    cursor: pointer;
    right: -100%;
    top: 35%;
}

.Title {
    left: 50%;
    top: 35%;
}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ContentContainer {
    position: relative;
    display: block;
    background-color: white; /* set to transparent for later testing of on hover of hidden right side bar*/
    z-index: 1;
    /* border: 5px solid red; */
}

.Container {
    position: relative;
    text-align: center;
    color: white;
}

.Content {
    /* max-width: 750px; */
    margin: 0 auto;
    /* padding: 75px 0; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s;
    transition: opacity 0.2s linear;
    opacity: 0;
}

.FadedContainer:hover .overlay {
    opacity: 1;
    cursor:pointer;
}
.FadedContainer:hover .Title {
    visibility: visible;
}
.FadedContainer:hover {
    cursor:pointer;
}

.ParallaxContainer {
    display:flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url("../images/mac-resized.jpg") no-repeat;
    transition: opacity 1s linear;
    opacity: 0;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #0A0A0A;
}
#AboutText:hover {
    cursor: pointer;
}
#ExperienceText:hover {
    /* cursor: pointer; */
}
#EducationText:hover {
    /* cursor: pointer; */
}

#ExperienceText {
    padding-left: 20px;
    padding-right: 20px;
}

#EducationText {
    padding-left: 20px;
    padding-right: 20px;
}

.Page {
    /* border: 5px solid black; */
}

.PageContent {
    display: block;
    position: relative;
    margin: auto;
    height: 700px;
    align-content: center;
    align-items: center;
    text-align: center;
    /* border: 5px solid red; */
}

.ContentTitle {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
}

.ContentImage {
    padding-top: 100px;
    width: 800px;
    height: 500px;
}

.ContentText {
    color: white;
}

.ContentReadMore {
    position: absolute;
    bottom: 0px;
    margin-bottom: 40px;
    color: white;
}

.ContentViewProject {

}

.PageContentContainer {
    /* right: 200px; */
    position: absolute;
    bottom: 20%;
    width: 250px;
    min-height: 250px;
    padding: 50px;
    text-align: left;
    /* transform: translateZ(-1px) scale(1); */
}
.EducationContainer {
    background-color: #59AAB0;
}

.ExperienceContainer {
    background-color: #CACACA;
}

.ContainerLeft {
    left: 100px;
}

.ContainerRight {
    right: 300px;
}

.ImageLeft {
    padding-right: 400px;

}

.ImageRight {
    /* padding-left: 500px; */
}

.grow:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.grow:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.LinkContainer img {
    max-height: 30px;
    max-width: 30px;
    float: right;
    display: inline-block;
    margin: 15px;
}

/* .circ{
    vertical-align: middle;
    border-radius: 50%;
    transition: box-shadow 0.3s;
    /* box-shadow: 0 0 0 0 #fff; */

/* }  */
/* .circ:hover{
    box-sizing: border-box;
    box-shadow:  0 0 0 5px #fff, 0 0 0 6px #5CAAAF;
} */


.FixedLinkContainer {
    float: right;
    width: 50px;
    pointer-events: all;/* stops scrolling interferance when hovering over*/
    position: absolute;
    bottom: 10%;
    right: 50px;
    /* border: 5px solid blue; */
    z-index: -1;
}

.TextContainer {
    display: table;
    padding-right: 65px;
    color: #A0A0A0;
    text-align: right;
    pointer-events: all;/* stops scrolling interferance when hovering over*/
    /* width: 50px; */
    position: absolute;
    top: 10%;
    right: 0px;
}

#fixed-link-container {
    position: fixed; /* holds on page */
    color: white;
    height: 100%;
    /* height: 250px; */
    right: 0px;
    /* top: 50%; */
    /* margin-top: -125px; */
    float: center;
    flex: auto;
    align-content: center;
    z-index: 1; /* brings to front */
    pointer-events: none;/* stops scrolling interferance when hovering over*/
    visibility: collapse;
    /* border: 5px solid blue; */

}

#fixed-container-experience {

}

#fixed-container-education {
    -webkit-animation-delay: 0.1s;
}

#fixed-container-github {
    -webkit-animation-delay: 0.2s;
}

#fixed-container-hotmail {
    -webkit-animation-delay: 0.3s;
}

#fixed-container-linkedin {
    -webkit-animation-delay: 0.4s;
}

.FixedTextContainer:hover {
    pointer-event: none;/* stops scrolling interferance when hovering over*/
    cursor:pointer;
}

#Test {
    position: absolute;
    bottom: 70px;
    visibility: hidden;
}

#Test2 {
    position: absolute;
    top: -200px;
    visibility: hidden;
}

/* text with underline onhover animation */

.DivHover {
    display: inline-block;
    float: center;
    margin: 0 0 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.DivHover span {
    font-size: 5vw;
    text-align: right;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    position: relative;
}
@media screen and (min-width: 992px) {
    .DivHover span {
        font-size: 25px;
    }
}
.DivHover span:before, .DivHover span:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 2px;
    margin: 2px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.5s;
    opacity: 0;
}
.DivHover {
    /* border: 5px solid black; */
}
.DivHover span.hover-center:before {
    left: calc(50%);
    background-color: #5CAAAF;
}
.DivHover span.hover-center:after {
    right: calc(50%);
    background-color: #5CAAAF;
}
.DivHover span.hover-right-to-left:after {
    right: 0;
    background-color: #5CAAAF;
}
.DivHover:hover {
    cursor: pointer;
    color: #5CAAAF;
}
.DivHover:hover span:before, .DivHover:hover span:after {
    width: 100%;
    opacity: 1;
}
.DivHover:hover span.hover-center:before, .DivHover:hover span.hover-center:after {
    width: 50%;
}
.DivHover:hover span.hover-right-to-left:before, .DivHover:hover span.hover-right-to-left:after {
    width: 100%;
}

.FixedContainerText{
    display: flex;
    position: absolute;
}

.FixedLinkContainer a img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.FixedLinkContainer a:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
