html * {
    max-height: 9999999px;
    -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
}
/* *:not(html) {
-webkit-transform: translate3d(0, 0, 0);
} */

html, body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.HeaderContent {
    overflow: auto;
    font-family: 'Comfortaa', cursive;
}

#profile-link-container {
    position: absolute;
    right: 4vw;
    top: 10%;
    float: right;
    flex: auto;
    z-index: 1000;
}

#HeaderTextContainer {
    width: 100%;
    position: absolute;
    right: 0px;
    top: 10%;
}

#HeaderContent > div {
    position: absolute;
    right: 0px;
    top: 0px;
}

.Title, .Other {
    height: 100%;
    width: 100%;
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 3vw;
    font-weight: 800;
    line-height: 200px;
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -10%);
    visibility: collapse; /* visible */
}

.ParallaxText {
    color: #59AAB0;
}

.HeaderText {
    display: inline-block;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    /* border: 5px solid black; */
}

#AboutMeText {
    position: absolute;
    top: 65%;
    margin-left: 15%;
    margin-right: 10%;
    color: #474646;
    font-family: 'Comfortaa', cursive;
    font-size: 2vw;
}

.Other {
    top: 0;
    transition: opacity 2s;
    opacity: 0;  /* //opacity to 1 to show */
    cursor: pointer;
    right: -100%;
    top: 35%;
}

.Title {
    left: 50%;
    top: 35%;
}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* background-color: white; */
    z-index: 2;
}

.ContentContainer {
    position: relative;
    display: block;
    /* background-color: white; /* set to transparent for later testing of on hover of hidden right side bar*/ */
    z-index: -1;
}

#AboutMeContent {
    background-color: white;
    height: 110vh;
}

.container {
    width: 51vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    bottom: 10vh;
}

.line {
    flex-grow: 1;
    background-color: #e2e2e2;
    height: 2px;
    margin: 0 16px;
}

.gear {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODk2IiBoZWlnaHQ9IjEwMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+IDxnPiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPiAgPHJlY3QgZmlsbD0ibm9uZSIgaWQ9ImNhbnZhc19iYWNrZ3JvdW5kIiBoZWlnaHQ9IjQwMiIgd2lkdGg9IjU4MiIgeT0iLTEiIHg9Ii0xIi8+IDwvZz4gPGc+ICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+ICA8cGF0aCBmaWxsPSIjYWFhYWFhIiBpZD0ic3ZnXzEiIGQ9Im00NDcuOTM4LDM1MGMtODkuNDA3LDAgLTE2MS45MzgsNzIuNTMxIC0xNjEuOTM4LDE2MmMwLDg5LjM3NSA3Mi41MzEsMTYyLjA2MiAxNjEuOTM4LDE2Mi4wNjJjODkuNDM4LDAgMTYxLjQzOCwtNzIuNjg4IDE2MS40MzgsLTE2Mi4wNjJjLTAuMDAxLC04OS40NjkgLTcyLjAwMSwtMTYyIC0xNjEuNDM4LC0xNjJ6bTMyNC42ODcsMjU1LjA2MmwtMjkuMTg4LDcwLjMxMmw1Mi4wNjIsMTAyLjI1bDYuODc1LDEzLjVsLTcyLjE4OCw3Mi4xODhsLTExOC40MzYsLTU1LjkzN2wtNzAuMzEyLDI4Ljg3NWwtMzUuNjg4LDEwOS4yNWwtNC41NjIsMTQuNWwtMTAyLjAzMiwwbC00NC4xNTYsLTEyMy4zMTJsLTcwLjMxMiwtMjlsLTEwMi40MDQsNTEuOTM4bC0xMy41LDYuNzVsLTcyLjE1NiwtNzIuMTI1bDU1Ljg3NSwtMTE4LjVsLTI4Ljk2OSwtNzAuMjVsLTEwOS4wNjUsLTM1LjYyNmwtMTQuNDY5LC00LjY4N2wwLC0xMDEuOTY5bDEyMy40MDYsLTQ0LjIxOWwyOC45NjksLTcwLjE4OGwtNTEuOTA2LC0xMDIuNDY5bC02Ljg0NCwtMTMuNDM4bDcyLjA2MiwtNzIuMDYybDExOC41OTQsNTUuODQ0bDcwLjIxOSwtMjkuMDMxbDM1LjY1NiwtMTA5LjE4OGw0LjU5NCwtMTQuNDY4bDEwMiwwbDQ0LjE4OCwxMjMuNDY5bDcwLjEyNSwyOS4wMzFsMTAyLjQzNywtNTEuOTY5bDEzLjYyNSwtNi44NDRsNzIuMTI1LDcyLjA2MmwtNTUuODc1LDExOC40MDZsMjguODc1LDcwLjM0NWwxMDkuMzc1LDM1LjY1NmwxNC4zNzUsNC41OTRsMCwxMDEuOTM4bC0xMjMuMzc1LDQ0LjM3NHoiLz4gPC9nPjwvc3ZnPg==);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.65s ease;
}
.gear1 {
    width: 40px;
    height: 40px;
}
.gear2 {
    width: 28px;
    height: 28px;
    margin: 0 0 14px -2px;
}

.Container {
    position: relative;
    text-align: center;
    color: white;
}

.Content {
    /* max-width: 750px; */
    margin: 0 auto;
    /* padding: 75px 0; */
}


.ParallaxContainer {
    display:flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url("../images/mac-resized.jpg") no-repeat; /* center center fixed; */
    background-size: cover;          /* 200% */
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: opacity 1s linear;
    opacity: 0;
    text-align: center;
    color: #0A0A0A;
}
#AboutText:hover {
    cursor: pointer;
}
#ExperienceText:hover {
    /* cursor: pointer; */
}
#EducationText:hover {
    /* cursor: pointer; */
}

#ExperienceText {
    padding-left: 20px;
    padding-right: 20px;
}

#EducationText {
    padding-left: 20px;
    padding-right: 20px;
}

.Page {
}

.PageContent {
    display: block;
    position: relative;
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
}
.MediumPage {
    height: 80vh;
    /* border: 5px solid blue; */

    /* height: 700px; */
}

.LargePage {
    height: 80vh;
    /* height: 700px; */3
}
.bold {
    font-style: bold;
}

#about-content {
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    line-height: 5vh;
    text-align: left;
    color: #59AAB0;
    z-index: 2;
}

.ContentTitle {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
    line-height: 40px;
}

.ContentImage {
    padding-top: 5%;
    /* padding-bottom: 10%; */
    width: 60%;
    height: 80%;
    /* width: 800px;
    height: 500px; */
    object-fit: cover;
}

.ContainerImage {
    position: relative;
    margin-top: 7.5%;
    /* margin-bottom: 15%; */
    width: 60%;
    height: 80%;
}

.ImageLeft {
    margin-left: 5%;
}

.ImageRight {
    margin-left: 15%;
}

.ContainerImageFiller {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: scroll;
    height: 100%;
    transition: 0.5s ease;
    z-index: 101;
}

.overlay-blue {
    background-color: #000000;
    color: white;
    opacity: 0;
}
.content-overlay {
    color: white;
    overflow-y: hidden;
}

.content-overlay-left {
    opacity: 0;
}

.content-overlay-right {
    opacity: 0;
}

.overlay-text {
    color: white;
    font-size: 1.5vw;
    position: relative;
    left: 0%;
    margin: 5%;
    padding-right: 25%;
    opacity: 1;
    z-index: 102;
    text-align: left;
}

.text-left {
    right: 25%;
}

.text-right {
    left: 25%;
}

.overlayImages {
    position: relative;
    bottom: 0%;
    border: 5px solid red;
    margin: 5%;
}

.ContentText {
    color: white;
}

.ContentReadMore {
    position: absolute;
    bottom: 0px;
    margin-bottom: 40px;
    color: white;
}

.HolderReadMore {
    position: absolute;
    bottom: 40px;
}

.PageContentContainer {
    position: absolute;
    bottom: 35%;
    width: 20%;
    min-width: 250px;
    min-height: 40%;
    /* width: 250px;
    min-height: 250px; */
    padding: 50px;
    text-align: left;
    z-index: 102;
}
.EducationContainer {
    background-color: #59AAB0;
}

.ExperienceContainer {
    background-color: #CACACA;
}

.ContainerLeft {
    /* left: 100px; */
    left: 5%;
}

.ContainerRight {
    right: 25%;
    /* right: 300px; */
}


.grow:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.grow:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.LinkContainer img {
    max-height: 2.2vw;
    max-width: 2.2vw;
    float: right;
    display: inline-block;
    margin: 20px;
}
/* .circ{
vertical-align: middle;
border-radius: 50%;
transition: box-shadow 0.3s;
/* box-shadow: 0 0 0 0 #fff; */

/* }  */
/* .circ:hover{
box-sizing: border-box;
box-shadow:  0 0 0 5px #fff, 0 0 0 6px #5CAAAF;
} */


.FixedLinkContainer {
    float: right;
    width: 50px;
    pointer-events: all;/* stops scrolling interferance when hovering over*/
    position: absolute;
    bottom: 10%;
    right: 4vw;
    /* border: 5px solid blue; */
    z-index: -1;
}

.TextContainer {
    display: table;
    padding-right: 4vw;
    color: #A0A0A0;
    text-align: right;
    pointer-events: all;/* stops scrolling interferance when hovering over*/
    position: absolute;
    top: 10%;
    right: 0px;
}

.MiddleText {
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100vw;
    color: grey;
    z-index: -100;
    font-size: 16vw;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;

}

#ExperienceContent {
    margin-top: -35vh;
}

#fixed-link-container {
    position: fixed; /* holds on page */
    color: white;
    height: 100%;
    /* height: 250px; */
    right: 0px;
    /* top: 50%; */
    /* margin-top: -125px; */
    float: center;
    flex: auto;
    align-content: center;
    z-index: 1; /* brings to front */
    pointer-events: none;/* stops scrolling interferance when hovering over*/
    visibility: collapse;
    /* border: 5px solid blue; */

}

#fixed-container {
    z-index: 1;
    /* display: flex; */
}

#fixed-container-experience {
}

#fixed-container-education {
    -webkit-animation-delay: 0.1s;
}

#fixed-container-github {
    -webkit-animation-delay: 0.2s;
}

#fixed-container-hotmail {
    -webkit-animation-delay: 0.3s;
}

#fixed-container-linkedin {
    -webkit-animation-delay: 0.4s;
}

.FixedTextContainer:hover {
    pointer-event: none;/* stops scrolling interferance when hovering over*/
    cursor:pointer;
}

#Test {
    position: absolute;
    bottom: 70px;
    visibility: hidden;
}

#Test2 {
    position: absolute;
    top: -200px;
    visibility: hidden;
}

/* text with underline onhover animation */

.HolderReadMore {
    position: absolute;
    bottom: 40px;
}

.DivHover {
    display: inline-block;
    float: center;
    margin: 0 0 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.DivHover span {
    text-align: right;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.MediumText {
    font-size: 1.4vw;
}

.DivHover span:before, .DivHover span:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 2px;
    margin: 2px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.5s;
    opacity: 0;
}
.DivHover span.hover-center:before {
    left: calc(50%);
    background-color: #5CAAAF;
}
.DivHover span.hover-center:after {
    right: calc(50%);
    background-color: #5CAAAF;
}
.DivHover span.hover-right-to-left:after {
    right: 0;
    background-color: #5CAAAF;
}

.DivHover span.hover-right-to-left-white:after {
    right: 0;
    background-color: #ffffff;
}

.DivHover:hover {
    cursor: pointer;
    color: #5CAAAF;
}
.DivHover:hover span:before, .DivHover:hover span:after {
    width: 100%;
    opacity: 1;
}
.DivHover:hover span.hover-center:before, .DivHover:hover span.hover-center:after {
    width: 50%;
}
.DivHover:hover span.hover-right-to-left:before, .DivHover:hover span.hover-right-to-left:after {
    width: 100%;
}

.FixedContainerText{
    display: flex;
    position: absolute;
}

.FixedLinkContainer a img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.FixedLinkContainer a:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


.hamburger:focus {
    outline: none;
}



#ToolbarExpandPage {
    position: fixed;
    width: 100%;
    height: 0vh;
    /* margin-top: 80px;
    margin-bottom: 80px; */
    z-index: 1;
    overflow-y: hidden;
    background: white;
    color: #59AAB0;
    font-size: 0vh;
}

#toolbar-expand-text-container {
    height: inherit;
    padding-top: 20vh;
}



.ToolbarExpandText {
    position: relative;
    text-align: center;
    padding: 20px;
}

#toolbar-link-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1000;
}

.ToolbarLinkContainer img {
    max-height: 40px;
    max-width: 40px;
    vertical-align: middle;
    display: inline-block;
    color: white;
    float: center;
    display: inline-block;
    margin: 20px;
}

.LargeText {
    font-size: 2vw;
    line-height: 4vh;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 750px) {
    /* here we show dropdown*/

    #HeaderTextContainer div {
        display: none;
    }
    #profile-link-container a {
        display: none;
    }
    .TextContainer {
        display: none;
    }
    .FixedLinkContainer {
        display: none;
    }
    .SmallText {
        font-size: 10px;
        line-height: 16px;
    }
    .MediumText {
        font-size: 12px;
        line-height: 16px;
    }
    .MediumText * {
        font-size: 20px;
        line-height: 32px;
    }
    .LargeText {
        font-size: 26px;
        line-height: 26px;
    }
    #about-content {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 5vw;
        line-height: 6vh;
    }
    .overlay-text {
        padding-right: 0px;
        font-size: 3vw;
        overflow-y: hidden;
    }
    #AboutMeText {
        position: relative;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 100px;
        height: auto;
        color: #474646;
        background-color: none;
        background: none;
        font-family: 'Comfortaa', cursive;
    }
    .MediumPage {
        height: 400px;
    }
    .LargePage {
        height: 600px;
    }
    #ExperienceContent {
        margin-top: -15vh;
    }
    .MiddleText {
        visibility: collapse;
    }
    .ContentImage {
        position: absolute;
        width: 100%;
        left: 0px;
        padding-top: 0px;
        height: 65%;
        object-fit: cover;
    }
    .HolderReadMore {
        bottom: 20px;
    }
    .DivHover span.hover-right-to-left-white:after {
        /* right: 0; */
        background-color: transparent;
    }
    .PageContentContainer {
        position: absolute;
        width: 100%;
        top: 65%;
        padding: 0px;
        height: 35%;
        min-height: 0px;
        left: 0px;
    }
    .PageContentContainer > * {
        margin-left: 20px;
        margin-right: 20px;
        left: 0px;

    }
    .ContentTitle {
        margin: 20px;
        margin-bottom: 10px;
    }
    .ContentReadMore {
        position: relative;
        margin-bottom: 20px;
    }

    #ToolbarContainer {
        visibility: visible;
        pointer-events: all;/* stops scrolling interferance when hovering over*/
        position: absolute;
        height: 80px;
        width: 100%;
        left: 0px;
        background-color: none;
        z-index: 2; /* brings to front */
    }
    #ToolbarText {
        padding: 0px;
        padding-left: 10%;
        padding-top: 30px;
        color: #59AAB0;
    }
    .hamburger {
        position: absolute;
        padding-right: 10%;
        right: 0px;
        top: 0px;
        padding-top: 30px;
    }
    .ImageRight {
        margin-left: 0%;
    }
    .ImageLeft {
        margin-left: 0%;
    }
    .text-right {
        left: 0;
    }
    .ContainerImage {
        width: 100%;
        margin-top: 0%;
        height: 65%
    }
}

@media only screen and (max-width: 750px) and (orientation: landscape) {
    #about-content {
        line-height: 10vh;
    }
    #ExperienceContent {
        margin-top: 70vh;
    }
    #AboutMeText {
        margin-bottom: 10vh;
    }
    .overlay-text {
        font-size: 4vh;
    }
    .text-right {
        left: 0%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 750px) {
    #ToolbarContainer {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* here we show original layout*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
